---
interface Props {
    link: string;
    text: string;
    type?: string;
}

const { link, text, type = "btn-primary" } = Astro.props;
const button_link =
    "btn btn-outline rounded-full transition duration-500 ease-in-out transform hover:scale-110 hover:-translate-y-1";
---

<a href={link} target="_blank">
    <button class={`${button_link} ${type}`}>{text}</button>
</a>