---
import ThemeToggle from "./ThemeToggle.astro";
---
<div class="navbar mb-2 bg-neutral text-neutral-content">
  <div class="max-w-4xl mx-auto flex justify-between w-full">
      <span class="text-lg font-bold px-2">Fernando Fransisco Halim</span>
      <ThemeToggle />
  </div>
</div>
